<a
  style="cursor: pointer;"
  [routerLink]="[recipe.uuid]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ recipe.type }}</h4>
    <h4 class="list-group-item-heading">{{ recipe.summary }}</h4>
    <h4 class="list-group-item-heading">{{ recipe.eventdate }}</h4>
    <h4 class="list-group-item-heading">{{ recipe.size }}</h4>
    <h4 class="list-group-item-heading">{{ recipe.uuid }}</h4>
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
    <a routerLink="/recipes/{{2}}" >  Click to see Detail  </a>
  </div>
  <span class="pull-right">
        <img
          [src]="recipe.imagePath"
          alt="{{ recipe.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
</a>
