<a
  style="cursor: pointer;"
  [routerLink]="[recipe.uuid]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">Type: {{ recipe.type }}</h4>
    <p class="list-group-item-heading">Summary: {{ recipe.summary }}</p>
    <p class="list-group-item-heading">Event Date:{{ recipe.eventdate }}</p>
    <p class="list-group-item-heading">Size: {{ recipe.size }}</p>
    <p class="list-group-item-heading">UUID: {{ recipe.uuid }}</p>
    <a routerLink="/recipes/{{2}}" >  Click to see Detail  </a>
  </div>
  <span class="pull-right">
        <img
          [src]="recipe.imagePath"
          alt="{{ recipe.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
</a>
