<div class="row">

  <div class="col-xs-4">
    <button class="btn btn-success" (click)="goPreviousPage()">Previous Page</button>
  </div>
  <div class="col-xs-4">
    <button class="btn btn-success" (click)="onFetchData()">Fetch Data</button>
  </div>
  <div class="col-xs-4">
    <button class="btn btn-success" (click)="goNextPage()">Next Page</button>
  </div>
</div>
<hr>

<h4>Select a date:</h4>
<mat-form-field class="example-full-width">
  <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choose a date"
         (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<div class="example-events" hidden="">
  <div *ngFor="let e of events">{{e}}</div>
</div>

<h4>Select a range:</h4>
<mat-form-field>
  <mat-label>Range since above date</mat-label>
  <mat-select  (selectionChange)="onSelectRange($event)" >
    <mat-option *ngFor="let range of ranges" [value]="range.value">
      {{range.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>


<div class="row">
  <div class="col-xs-12">
    <app-recipe-item
      *ngFor="let recipeEl of recipes; let i = index"
      [recipe]="recipeEl"
      [index]="i"></app-recipe-item>
  </div>
</div>

