<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--    <img-->
<!--      [src]="Legend.imagePath"-->
<!--      alt="{{ Legend.name }}"-->
<!--      class="img-responsive"-->
<!--      style="max-height: 300px;">-->
<!--  </div>-->
<!--</div>-->


<div class="row">
  <div class="col-xs-12">
    <h1>Type: {{ legend.type }}</h1>
    <p>UUID: {{ legend.uuid }}</p>
    <p>Summary: {{ legend.summary }}</p>
    <p>Size: {{ legend.size }}</p>
    <p>Event date: {{ legend.eventdate }}</p>
    <p>Detail: {{ legend.detail }}</p>
  </div>
</div>




<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--    <ul class="list-group">-->
<!--      <li-->
<!--        class="list-group-item"-->
<!--        *ngFor="let ingredient of Legend.ingredients">-->
<!--        {{ ingredient.name }} - {{ ingredient.amount }}-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
